body 
{
	background-color: #F0F8FF;
	font-family: Verdana, sans-serif;
}

h1
{
	color: #121212;
}

.pictures
{
	height: 320px;
}

ul
{
	list-style-type: none;
}

li
{
	margin-bottom: 20px;
}

p
{
	padding-left: 20px;
}

#storyboard
{
	height: 1000px;
}

.nav
{
	display: inline-block;
	border: black 1px solid;
	border-radius: 5px;
	padding: 3px;
	color: black;
	text-decoration: none;
}

.nav:visited, .nav:active, .nav:link, .nav:hover
{
	color: black;
	text-decoration: none;
}
