<header>
	<h1>Process Book No. {{ number }}</h1>
</header>

<div class="content">
	<div>
		<img src="img/googleplay.PNG" class="pictures">
		<h4>Google Play Music Desktop Web Application</h4>
		<p>The reason I wish I had created it is because I really don’t like how the website is designed right now. Previously, Google Play Music Desktop Web application looked different from the app version that’s available in Android Play store and iOS App store. In my opinion, it used the screen space effectively so that the user had easy time navigating through the web application and showed a lot of information on one page. However when they changed the application to look and behave more like the app, I felt that the change reduced my enjoyment of using it. For example, some buttons I felt were unnecessarily large and took too much space (as if it was designed to be touched not clicked). </p>
		<ol>
			<li>Study backend programming</li>
			<li>Study server hosting</li>
			<li>Study web design</li>
			<li>Be hired by Google</li>
			<li>Study UI/UX</li>
		</ol>
	</div>

	<div>
		<img src="img/reddit-logo.png" class="pictures">
		<h4>Reddit</h4>
		<p>The reason I wish I created Reddit is because I use the website every day and it is one of my dreams to create something people would use everyday and enjoy using it. However, Reddit sometimes does things terribly and if I were part of founders of Reddit I feel that things could have gone better for Redditors.</p>
		<ol>
			<li>Study backend development</li>
			<li>Study forum moderation</li>
			<li>Study public relations</li>
			<li>Start a company with like minded people</li>
			<li>Get website to be popular</li>
		</ol>
	</div>

	<div>
		<img src="img/disney.png" class="pictures">
		<h4>Disneyland</h4>
		<p>They say Disney works hard to make sure people fully enjoy the experience and not break their immersion. It would be really cool to create something like that.</p>
		<ol>
			<li>Study customer relations</li>
			<li>Study theme park management</li>
			<li>Intern at Disney</li>
			<li>Go to Disneyland and enjoy what it has to offer</li>
			<li>Get hired by Disney</li>
		</ol>
	</div>

	<div>
		<img src="img/neko.jpg" class="pictures">
		<h4>Neko Atsume</h4>
		<p>This app is a game where you decorate your playground and cats come and play. The reason why I wanted to have created this is because it's a super simple game but also super fun.</p>
		<ol>
			<li>Be the Cat</li>
			<li>Learn iOS development</li>
			<li>Learn Android development</li>
			<li>Learn how to draw cats</li>
			<li>Study cats</li>
		</ol>
	</div>
</div>