<header>
	<h1>Process Book No. {{ number }}</h1>
</header>

<div class="content">
	<p>In addition to the verbal explanation, provide a photo or drawing that represents the problem, a photo or drawing that represents the choice to be made, and a photo or drawing that represents the final decision your team made.</p>

	<div>
		<h4>Adding the social aspect</h4>
		<p>While talking with other groups for one of the in class activites, we found out that our product was way too broad in terms of scope. Only thing we had at the moment was that we wanted to share contacts by wearing the band and shaking hands or something. We did not plan on adding the social aspect to our product untili we talked with other group who said then the product won't really be targeted to our core demographic.</p>
	</div>

	<div>
		<img src="../img/proto-mat.jpg" class="pictures">
		<h4>Clay prototype</h4>
		<p>When we were brainstorming ideas for our physical prototype, we debated between many materials. As shown in the picture, we narrowed it down to clay, rubber band, and elastic cloth band. We had hard time finding right size rubber band that was wide enough to </p>
	</div>

	<div>
		<img src="../img/nextgame.png" class="pictures">
		<h4>Introduction of the band</h4>
		<p>Our initial design was an app that showed if there were pickup games happening near by. However, that idea got rejected when one of our members found an app that does the exact same thing.</p>
	</div>
</div>

