<header>
	<h1>Process Book No. {{ number }}</h1>
</header>

<div class="content">
	<h3>Participatory Design Experiences</h3>
	<a href="https://www.reddit.com/r/IAmA/comments/3tyt69/we_create_the_names_of_paint_colors_for_a_living/">Link</a>

	<p></p>
</div>

• Conscious and intentional collaboration with users when designing new systems, products or experiences.
• Enabling users to have a voice in developing solutions to problems they face on a daily basis
• Opportunities for designers to think outside their normal processes and procedures.
• Helping everyone see things from a different perspective.
Go online and find examples of participatory design experiences. Plan a participatory experience to share with your users. Document your plan using text and images.
