<header>
	<h1>Process Book No. {{ number }}</h1>
</header>

<div class="content">
	<h3>Participatory Design Experiences</h3>
	<a href="https://www.reddit.com/r/IAmA/comments/3tyt69/we_create_the_names_of_paint_colors_for_a_living/">We create the names of paint colors for a living - we've recently named over 500 colors and have named paint colors for many brands you have used in your home. Ask us anything!</a>

	<p>This is an example of participatory design experience because the group in charge of naming paints in PPG Paints, PPG Voice of Color, came to Reddit to explain how they work and answer questions by Redditors. It is also hard to come up with names for color and they were definitely getting ideas from Reddit users too. A lot of people were suggesting names for certain things and what not.</p>

	<h4>My participatory design plan</h4>
	<ol>
		<li>Find users</li>
		<li>Talk to them about the product</li>
		<li>Ask what they find useful and not useful</li>
		<li>Ask what they want to see in the next product</li>
		<li>Make sure to talk to a lot of people</li>
		<li>Watch them use the product in their daily lives</li>
		<li>Put users in the developer's shoes and see what they do</li>
	</ol>
</div>

• Conscious and intentional collaboration with users when designing new systems, products or experiences.
• Enabling users to have a voice in developing solutions to problems they face on a daily basis
• Opportunities for designers to think outside their normal processes and procedures.
• Helping everyone see things from a different perspective.
